{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <label>当前实装关卡</label>
        <br/>
        <label>实装关卡数量：{{ level_list|length }}</label>
        <form action="{% url 'polls:level_detail' %}" method="get">
            <select name="level_num">
                {% for level in level_list %}
                    <option>{{ forloop.counter }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="go to level">
        </form>
    </div>
    {% if level_list %}
        <ul>
            {% for level in level_list %}
                <li>{{ level }}</li>
                <img src="/media/{{ level.long_graph }}" width="200px" />
            {% endfor %}
        </ul>
    {% else %}
        <p>No levels are available.</p>
    {% endif %}
</body>
</html>